body {
  background: linear-gradient(105deg, #f66465, #1198e5);
  color: #eee;
  font-family: Arial, sans-serif;
  padding: 0;
  background-size: 100vw;
  width: 100%;
  height: 100%;
}
canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

#world {
  background: linear-gradient(45deg, rgba(234, 228, 46, 0.677), rgba(1, 1, 1, 0));
  box-shadow: rgba(15, 238, 126, 0.4) 2px 2px 2px;
}

#motifs span {
  background: linear-gradient(90deg, rgba(230, 23, 96, 0.85) 60%, rgba(243, 85, 28, 0.4));
}

#knobs li {
  background-color: rgb(13, 149, 74);
  background: radial-gradient(circle at 80% 0%, rgba(205, 24, 60, 0.7) 10%, rgba(214, 255, 32, 0.6) 100%);
  box-shadow: rgba(218, 18, 105, 0.58) -13px -2px 2px;
  color: #dffff8;
}
